@model IEnumerable<Game>
@{
    ViewData["Title"] = "Get All";
    string game = string.Empty;
}

<style>
    ::-webkit-scrollbar {
        width: 8px; 
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px; 
    }
</style>

<div class="container mt-4">
    <form method="get" asp-action="Search" asp-controller="Game" class="mb-4">
        <div class="input-group">
            <input type="text" asp-for="@game" name="game" class="form-control" placeholder="Search...">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </form>

    <div class="d-flex flex-wrap" style="max-height:500px">
        @if (Model is null || !Model.Any())
        {
            <p class="text-white">Nothing is here..</p>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="p-2 ">
                    <div class="card bg-dark" style="width: 18rem;" onclick="showGameDetails(@item.Id)">
                        <img src="@item.GameImageUrl" class="card-img-top" alt="Game Image" style="max-height: 400px; max-width: 500px">
                        <div class="card-body" style="max-height:200px; overflow-y: auto;">
                            <h5 class="card-title text-white-50">Title: @item.Title</h5>
                            <p class="card-text text-white-50" style="overflow-wrap: break-word;">Description: @item.Description</p>
                            <p class="card-text text-white-50">Price: @item.Price$</p>
                        </div>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="p-1">
                            <button class="btn btn-secondary" onclick="DeleteGame(@item.Id)">Delete</button>
                            <button class="btn btn-secondary" onclick="UpdateGameView(@item.Id)">Update</button>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>